# calculate mortage payment schedule

In [9]:
def monthly(apr, p, ny):
    '''
    p: principal
    ny : number of years
    '''    
    r = apr/12/100;
    n = ny*12;
    return p*r/(1-pow(1+r, -n))

print(monthly(2.875, 969200, 30), monthly(2.875, 969200, 30)*30*12 - 969200 )

4021.1378878215232 478409.6396157483

# tom mcgurk's renovation loan 
---------------------------

In [19]:
from pylab import *
purchase = 850e3 
downpayment = 0.20*purchase
reno =500e3;
r = 2.875/100/12;
T = 30 * 12;
loan_amt = purchase + reno - downpayment
points = loan_amt*1.5/100;
reno_monthly = r * reno; 
err = reno_monthly/(reno-points) #effective renovation rate
cash_to_close = downpayment + points 
print(loan_amt, points, reno - points, reno_monthly, err*12*100, cash_to_close)

1180000.0 17700.0 482300.0 1197.9166666666667 2.9805100559817546 187700.0

In [20]:
fro
from pylab import *

from numpy import linalg

A0 = eye(3)

print(A0)

xx = randn(3,3)

xx

Q,_ = linalg.qr(xx)

def R_z(theta):
    return array( [ [cos(theta), -sin(theta), 0], 
            [sin(theta), cos(theta), 0],
            [0, 0, 1] ] );


def R_x(theta):
    return array( [ [ 1, 0, 0],
            [0, cos(theta), -sin(theta)], 
            [0, sin(theta), cos(theta)]
                 ] )


def R_y(theta):
    return array( [ [cos(theta), 0, sin(theta)],
                   [0, 1,0],
            [-sin(theta), 0, cos(theta)] ] )
from

Q = dot( dot( R_z(3), R_x(2)), R_y(7) )

print (Q)
print(dot(Q.transpose(),Q))

A1 = dot( Q, A0)

Q2 = linalg.solve( A0, A1)

print(Q2)

x2 = dot( Q2, array([1,0,0]))

print(x2)
print(arccos( dot(x2, array([1,0,0])) ) )

[[ 1.  0.  0.]
 [ 0.  1.  0.]
 [ 0.  0.  1.]]
[[-0.83066213  0.05872664 -0.55367102]
 [-0.48502709  0.41198225  0.77137498]
 [ 0.27340289  0.90929743 -0.31373404]]
[[  1.00000000e+00   7.04033389e-17   2.96744857e-17]
 [  7.04033389e-17   1.00000000e+00  -6.18931753e-17]
 [  4.35522735e-17  -6.18931753e-17   1.00000000e+00]]
[[-0.83066213  0.05872664 -0.55367102]
 [-0.48502709  0.41198225  0.77137498]
 [ 0.27340289  0.90929743 -0.31373404]]
[-0.83066213 -0.48502709  0.27340289]
2.55109218686

In [ ]:
from pylab import *
from numpy.linalg import *

How many triangles are there with vertex coordinates of (x1, y1), (x2, y2) and (x3, y3) such that all the coordinates are non-negative integers with magnitudes of at most 1000?

Constraints:

 i) Area of triangle has to be positive

ii) ABC is same as BCA

sum x1=0 to 999 (sum y1=0 to 1000) (sum x2=x1 to 1000 (sum y2=0 to 1000) (sum x3=x2 to 1000 (sum y3=y2 to 1000 ) ) ) 
= sum x1=0 to 999 ( sum x2=x1 to 1000 1001*1001*1001*(1001-x2) )
a = 168172008673168500

subtract out p1=p2 i.e. x1 = x2 and y1 = y2
sum x1=0 to 999 ( 1001*1001*(1001-x1) )
b = 502503501500

subtract out p2=p3; i.e. x2 = x3 and y2 = y3
sum x1=0 to 999 (sum y1=0 to 1000) (sum x2=x1 to 1000 (sum y2=0 to 1000) ) 
= sum x1=0 to 999 sum x2=x1 to 1000 (1001*1001)
c = 502503501500

subtract out p1=p3; x1 = x3 and y1 = y3\
sum x1=0 to 999 (sum y1=0 to 1000) (sum x2=x1 to 1000 (sum y2=0 to 1000) ) 
= sum x1=0 to 999 sum x2=x1 to 1000 (1001*1001)
d = 502503501500

add in p1=p2=p3; ee y3 = y2 = y1 and x3=x2 = x1
e = 1000 * 1001 

Subtract out x1=x2=x3
f = 1000 *1001**3
 
Subtract out y1=y2=y3
1001 * sum x1=0 to 999 ( sum x2=x1 to 1000 (1001-x2) )
g =  167836168500


##### garbage

don't subtract out x1=x2=x3
= 1000 ( sum y1=0 to 1000 (sum y2=0 to 1000 (sum y3=y2 to 1000) ) 
= 1000*1001*(sum j=0 to 1000 (1001-j) )   
= Sum[1001*1001*(1001-j) , j = 0 to 999]
b = 502503501500

don't subtract out y1=y2= y3 
= sum x1=0 to 999 sum x2=x1 to 1000 sum x3=x1 to 1000 (1000) 
= 1001* sum x1=0 to 999 ((1001-x1)^2)
c = 335170335500

add in y3 = y2 = y1 and x3=x2 = x1
d = 1000 * 1000

In [16]:
a = 168172008673168500
b =       502503501500
c =       502503501500
d =       502503501500
e =        1000 * 1001
f =      1003003001000
g =       167836168500
a - b - c - d + e - f  -g

168169330324495500

### old solution to the above problem
sum x1=0 to 1000 (sum y1=0 to 1000 (sum x2=x1 to 1000 (sum y2=0 to 1000  (sum x3=x1 to 1000 (sum y3=y2 to 1000 1) ) ))) 
= sum x1=0 to 1000 (1000 (1001-x1)*(sum y2=0 to 1000 (1001-x1)(1001-y2) ))
= sum x1=0 to 1000 ( sum y2=0 to 1000 (1000*(1001-x1)*(1001-x1)(1001-y2)) )
a = 167920338587001000

subtract out p1=p2 i.e. x1 = x2 and y1 = y2
sum x1=0 to 1000 (sum y1=0 to 1000 ( sum x3=x1 to 1000 (sum y3=y1 to 1000 1)) ) 
sum x1=0 to 1000 (sum y1=0 to 1000 ( (1001-x1) (1001-y1)  ) 
b = 251503253001

subtract out p2=p3; i.e. x2 = x3 and y2 = y3
sum x1=0 to 1000 (sum y1=0 to 1000 (1001-x1) 1001 ) 
sum x1=0 to 1000 (1001*(1001-x1)*1001 ) 
c = 502504503501

subtract out p1=p3; x1 = x3 and y1 = y3\
sum x1=0 to 1000 (sum y1=0 to 1000 (sum x2=x1 to 1000 (sum y2=0 to 1000))
= sum i=0 to 1000 (1001 * 1001 * (1001-i) )
d = 502504503501

add in p1=p2=p3; e y3 = y2 = y1 and x3=x2 = x1
e = 1001 * 1001 


##### garbage

don't subtract out x1=x2=x3
= 1000 ( sum y1=0 to 1000 (sum y2=0 to 1000 (sum y3=y2 to 1000) ) 
= 1000*1001*(sum j=0 to 1000 (1001-j) )   
= Sum[1001*1001*(1001-j) , j = 0 to 999]
b = 502503501500

don't subtract out y1=y2= y3 
= sum x1=0 to 999 sum x2=x1 to 1000 sum x3=x1 to 1000 (1000) 
= 1001* sum x1=0 to 999 ((1001-x1)^2)
c = 335170335500

add in y3 = y2 = y1 and x3=x2 = x1
d = 1000 * 1000